<form ngNativeValidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="idEmail">E-mail: </label><input minlength="2" required formControlName="inEmail" id="idEmail" type="email"/>
  <label for="idSenha">Senha: </label><input minlength="2" required formControlName="inSenha" id="idSenha" type="password"/>
  <label for="idConfirmarSenha">Confirmar Senha: </label><input minlength="2" required formControlName="inConfirmarSenha" id="idConfirmarSenha" type="password"/>
  <label for="idTelefone">Telefone: </label><input minlength="2" required formControlName="inTelefone" id="idTelefone" type="text"/>

  <button type="submit">Cadastrar</button>
  <a routerLink="/login">Login</a>
</form>
