<section class="mx-auto col-6">
    <h3 class="m-2">Endereço de Entrega</h3>

    <div class="d-flex m-2">
        <div class="form-floating w-100"><!-- Endereço -->
            <input [(ngModel)]="inEndereco" class="form-control" type="text" placeholder="Endereço"/>
            <label>Endereço</label>
        </div>
        <button (click)="addEndereco()" class="btn btn-primary ms-2">Adicionar</button>
    </div>

    <select class="form-select-lg w-100 m-2" title="enderecos">
        <option *ngFor="let endereco of listaEnderecos | async" [value]="endereco">
        {{endereco}}
        </option>
    </select>
</section>

<section class="mx-auto col-6"><!-- Forma de Pgto-->
    <h3 class="m-2">Forma de Pagamento</h3>

    <select class="form-select-lg w-100 m-2" title="asd">
        <option *ngFor="let pagamento of formaPagamento" [value]="pagamento">
        {{pagamento}}
        </option>
    </select>
</section>

<section class="d-flex mx-auto justify-content-end col-6">
    <button (click)="finalizarCompra()" class="btn btn-lg btn-primary m-2">Finalizar Compra</button>
</section>
